
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}
main{
    padding: 1 3rem;
}
.small-screen:nth-child(1),
.small-screen:nth-child(4),
.small-screen:nth-child(5){
    display: none;
}

.white-hover:hover{
    border: 1px solid #fff !important;
    cursor: pointer;
}


header{
    /* min-width: 100%; */
    /* height: 70%; */
    white-space: nowrap;
    overflow: visible;
    color: #fff;
}
/* HEADER */
.main-navbar{
    display: grid;
    grid-template-areas: 
    'first first first first first first first first first first first'
    'first first first first first first first first first first first'
    'second second second second second second second second second second second'
    'second second second second second second second second second second second'
    'third third third third third third third third third third third';
}

.main-navbar .first-nav ul li{
    height: 80%;
    border: 1px solid transparent;
    text-align: left;
    margin: 0.5rem;
    padding: 0.25rem;
    
}

.main-navbar p{
    font-size: 12px;
}

.main-navbar .first-nav ul {
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    text-align: center;
    align-items: center;
}
.first-nav{
    grid-area: first;
    /* padding: 0.25rem; */
    background: #131921;
    display: flex;
    width: 100%;
    height: 4rem;
    font-size: 15px;
    align-items: center;
    padding: 1rem;
}

.first-nav .left-navbar ul{
    display: flex;
    list-style: none;
}
.white-logo{
    width: 6rem;
    height: 2rem;
    /* align-items: center; */
    /* margin: 1rem; */
}

.deliver{
    display: flex;
    /* align-items: flex-end; */
}
.deliver .location{
    width: 1rem;
    height: 1rem;
    
}

.deliver #israel{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}


.mid-navbar{
   grid-area: mid;
   width: 100%;
   display: flex;
   align-items: center;
   text-align: center;
}




.mid-navbar button{
    width: 3rem;
    height: 2rem;
    border: none;
    border-radius: 8px 0 0 8px;
}

.mid-navbar #search{
    background: #F3A847;
    border: none;
    border-radius: 0 8px 8px 0;
    
}

.mid-navbar input{
    min-width: 50vw;
    height: 2rem;
    /* flex-grow: 1; */
}

.right-navbar ul{
    display: flex;
    list-style: none;
    text-align: left;
}


.right-navbar #lang{
    display: flex;
    font-size: 12px;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}

.right-navbar #lang #en{
    width: 1.5rem;
    height: 1.5rem;
    
}

.right-navbar #sign-in,
.right-navbar #returns{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
}

#shop-cart{
    width: 30px;
    height: 30px;
    
}

#cart{
    display: flex;
    font-size: 15px;
    align-items: flex-end;
    text-align: center;
}

#cart0{
    position: relative;
}

#cart0 h4{
    position: absolute;
    bottom: 18px;
    left: 19px;
    font-size: 15px;
    color: #F7CA00;
}
/* SECOND NAVBAR */

.second-nav{
    grid-area: second;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    background: #232F3E;
    justify-content: space-between;
    font-size: 15px;
    padding: 0.25rem 0;
}


.second-nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-left: 1rem;
}

.second-nav ul li{
    width: fit-content;
    /* height: 70%; */
    border: 1px solid transparent;
    margin: auto 0.3rem;
    padding: 0.3rem;
}

.second-nav h3{
    margin: auto 1rem;
    border: 1px solid transparent;
    padding: 0.3rem;
}

/* SECOND NAVBAR FINISHED  */

/* THIRD NAVBAR */
.third-nav{
    grid-area: third;
    color: #131921;
    display: flex;
    align-items: center;
    background: #FAFAFA;
}

.third-nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    margin-left: 1rem;
}

.third-nav ul li:nth-child(1){
    font-weight: bold;
}

.third-nav ul li{
    width: fit-content;
    border-bottom: 3px solid transparent;
    margin: auto 0.3rem;
    padding: 0.3rem;
}


.third-nav ul li:hover{
    color: #F3A847;
    border-bottom:3px solid #E7AE6D;
}


/* PRODUCT SECTION */

.img-icon{
    width: 2.5rem;
    height: 2rem;
    border: 1px solid transparent;
}

.img-icon:hover{
    padding: 2px;
    border: 1px solid #F3A847;
    box-shadow: 0 0 5px 2px #F3A847;
}

.product{
    display: grid;
    grid-template-areas: 
    'img prev prev prev prev info info info info sidebar sidebar'
    'img prev prev prev prev info info info info sidebar sidebar'
    'img prev prev prev prev info info info info sidebar sidebar'
    'img prev prev prev prev info info info info sidebar sidebar'
    'img prev prev prev prev info info info info sidebar sidebar'
    'img prev prev prev prev info info info info sidebar sidebar'
    'img white white white white info info info info sidebar sidebar'
    'img white white white white info info info info sidebar sidebar'
    'img white white white white info info info info sell sell'
    'img white white white white info info info info spons spons'
    'img white white white white info info info info spons spons'
    'img white white white white info info info info spons spons';
    /* grid-gap: 2rem 5rem; */
    margin: 2rem 2rem;
}


.image-col{
    grid-area: img;
    display: flex;
    flex-direction: column;
    
}

.img-icon{
    margin: 0.3rem;
    transition: transform .2s;
}

.image-display{
    grid-area: prev;
    /* width: 100%; */
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    
}

.image-display img{
    max-width: 30rem;
    min-width: 10rem;
    transition: transform .5s ease;
    overflow: hidden;
}
.image-display img:hover{
    transform: scale(1.5); 
}
.product-info{
    max-width: 30rem;
    min-width: 20rem;
    grid-area: info;
    margin: 0 0.0rem;
}

.product-info p{
    margin: 1rem auto;
}
.product-info h3{
    font-weight: 500;
    font-size: 24px!important;
    line-height: 32px!important;
}

.product-info a{
    font-size: 14px;
}

.product-info hr{
    margin:0.4rem 0 0.7rem 0;

}
.product-info #price{
    display: flex;
    justify-content: left;
}

.product-info h1{
    font-size: x-large;
    margin-left: 1rem;
}
.product-info #red-h1{
    color: rgba(255, 0, 0, 0.671);
    font-weight: 200;
    font-size: x-large;
    margin-left: 0;
}

.product-info #small-grey{
    font-size: 12px;
    color: grey;
    margin-top: 0.3rem;
}

.product-info #p-grey{
    color: grey;
}

a{
    text-decoration: none;
    color: rgb(68, 196, 235);
}

.product-info #colors{
    width: 8rem;
    display: flex;
}
.product-info #colors ul{
    display: flex;
    list-style: none;
    max-width: 8rem;
    
    
}

.product-info #colors ul li{
    display: flex;
    width: 6rem;
    align-items: center;
    text-align: center;
    padding: 0 0.25rem;
    margin: 0 0.2rem;
    border: 1px solid rgb(190, 189, 189);
}
.product-info #colors ul li p{
    margin-left: 0.45rem;
}

.product-info #colors ul li:hover{
    color: #F3A847;
}

table{
    margin: 8px;
    text-align: left;
    
}
table tr th,
table tr td{
    padding: 3px;
}

.product-info h2{
    font-size: medium;
    margin-bottom: -0.5rem;
}

/* END PRODUCT INFO */

/* SIDEBAR */

.sidebar{
    grid-area: sidebar;
    max-width: 15rem;
    min-width: 12rem;
    border: 1px solid rgb(196, 194, 194);
    padding: 1rem;
    border-radius: 5px;
    margin-left: 0;
}
.h1-pos{
    position: relative;
}
.sml{
    font-size: 12px;
    position: absolute;
    top:3px;
    /* margin: 0 -5px 0 -5px; */
}
.sml:nth-child(1){
    top: 3px;
    left: -5px;
}
.sidebar p{
    margin: 1rem 0;
}
.sidebar p a{
    font-size: 13px;
    
}
.green{
    color: green;
    font-weight: 600;
}

.location{
    width: 0.70rem;
    height: 0.7rem;
}

#side-btns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#side-btns button:nth-child(1){
    width: 3rem;
    border-radius:10px ;
    border: transparent;
    box-shadow: 5px 10px 20px grey;
    margin: 0.5rem 0;

}

#side-btns button:nth-child(2),
#side-btns button:nth-child(3){
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    background:#FFD814;
    
}

#side-btns button:nth-child(3){
    background:#FA8900 ;
}

.sidebar i{
    color: grey;
    margin-right: 0.5rem;
}

.sidebar table{
    width: 100%;
    color: grey;
}
.sidebar table tr{
    align-items: center;
    font-size: 12px;
}

.sidebar #gift p{
    font-size: 0.9rem;
}

.sidebar .add-list{
    width: 100%;
    height: 2rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid rgb(138, 136, 136);
    text-align: left;
    padding: 0.5rem;
}

/* SIDEBAR FINISHED */

/* SELL ON AMAZON */
.sell{
    grid-area: sell;
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
    margin-bottom: 0;
}

.sell button{
    padding: 5px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgb(189, 188, 188);
    margin-top: 0.2rem;
}


/* SELL ON AMAZON FINISHED */
/* SPONS */
.adv{
    grid-area: spons;
    border: 1px solid grey;
    width: 15rem;
    align-items: center;
    text-align: center;
    margin: 1rem 0 8rem 0 ;
    font-size: 13px;
    padding: 5px;
    text-align: left;
}

.adv div{
    display: flex;
}

.adv div img{
    width: 100px;
    height: 100px;
}

/* spons finished */


/* Frequently bought together */
.freq{
    margin: 1rem 2rem ;
}
.red{
    color: orange;
}

.freq #three-photos{
    display: flex;
    align-items: center;
    margin: 2rem;
    margin-bottom: 0.5rem;
}

.freq #three-photos img,
.freq #three-photos h2,
.freq #three-photos div{
    margin: 0 0.5rem;
    
    
}
.freq #three-photos div{
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.freq #three-photos div p,
.freq #three-photos div button{
    margin-bottom: 0.25rem;
    margin-top: 0;
}

.freq #three-photos div button{
    font-size: 10px;
    width: 7.5rem;
    height: 1.5rem;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #F7CA00;
}

.i-freq i{
    color: rgb(53, 120, 184);
}

.i-freq{
    font-size: 12px;
    margin: 0 3rem 1rem;
}
.p-freq{
    font-size: 15px;
    margin: 0 3rem;
}
/* Frequently finished */



/* featured products */

.featured{
    display: grid;
    grid-template-columns: repeat(6,2fr);
    grid-template-rows: 1fr 7fr;
    align-items: center;
    padding: 3rem;
    padding-bottom: 0;
    padding-top: 0;
}

.featured h1{
    grid-column: 1/7;
    margin: 0;
}

.box{
    width: 80%;
    height: 100%;
    padding: 1rem;
}

.box a{
    font-size: 15px;
}

.box h1{
    margin: 0.5rem;
}

.box p{
    font-size: 13px;
}

.image{
    margin: auto;
    margin-bottom: 0.5rem;
}


